.carousel__content{
    max-width: 1440px;
    margin: 0 auto;
    .carousel__item{
        position: relative;
        display: block;
        img{
            width: 100%;
        }
        .carousel__caption{
            position: absolute;
            left: 5%;
            top: 5%;
            h5{
                @include styleText($color-white, $fs-2, $fw-1);
                margin-bottom: 13%;
            }
            text-align: left;
            
        }
        .carousel__caption.second{
            top: 30%;
        }
    }
}