header{
    @include styleText($color-blue-1, $fs-0, $fw-1);
    max-width: 1440px;
    margin: 0 auto;
    .container-fluid{
        position: fixed;
        background-color: white;
        z-index: 10;
        max-width: 1440px;
    }
}
.header__content{
    box-shadow: 0 8px 4px -4px rgba(0,0,0,0.2);
    .navbar-brand{
        img{
            width: 110px;
        }          
    }
    .navbar-nav{
        .nav-item{
            .nav-link{
                @include styleText($color-blue-1, $fs-0, $fw-1);
                padding: $pd-1 + 5 $pd-0 + 5;
            }
            &:hover{
                .nav-link{
                    @include styleText($color-blue-3, $fs-0, $fw-1);
                }                  
            }
        }
    }
    #navbarNav{
        justify-content: space-between;
    }
    @include responsive ('large'){
        .header-icon{
            display: block;
        }
        .header-acc{
            display: none;
        }
    }
    @include responsive ('extra-large'){
        .header-acc{
            display: block;
        }
        .header-icon{
            display: none;
        }
    }

    .nav-item{
        i{
            margin-right: $mg-0;
        }
        .nav-link{
            @include styleText($color-blue-1, $fs-0, $fw-1);
            padding: $pd-1 + 5 $pd-0 + 5;
        }
        &:hover{
            .nav-link{
                @include styleText($color-blue-3, $fs-0, $fw-1);
            }                  
        }
    }
    // @include responsive ('extra-large'){
    //     padding-left: $pd-2;
    //     padding-right: $pd-2;
    // }
}