.recall__content{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    .recall__top{
        background-color: $color-gray-2;
        align-items: center;
        justify-content: center;
        h2{
            @include styleText($color-orange-0, $fs-2, $fw-1);
            padding-top: 30px;
            margin-bottom: 40px;
        }
        button{
            margin-bottom: 50px;
        }
    }
    .recall__bottom{
        padding: 30px 20px;
        button{
            &:focus{
                outline: none;
            }
        }
        i{
            margin-left: 10px;
        }
        &:hover{
            button{
                color: $color-blue-6;
            }
        }
    }
    .recall__text{
        display: none;
        background-color: $color-gray-2;
        margin-bottom: 10px;
        padding: 50px 100px;
        text-align: left;
        width: 100%;
        height: 200px;
        overflow: auto;
    }
}