.services__content {
    max-width: 1440px;
    margin: 0 auto;
    .services__item {
        overflow: hidden;
        position: relative;
        padding: 0;
        a {
            text-decoration: none;
            color: $color-white;
        }
        img {
            width: 100%;
            transition: all .3s;
        }
        .link {
            justify-content: space-between;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            // height: 18%;
            background: rgba(6, 120, 188, 0.75);
            align-items: center;
            .title {
                padding: 5%;
            }
            .icon {
                padding-right: 5%;
            }
            i {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 2px solid $color-white;
                text-align: center;
                font-size: $fs-3 + 2;
                line-height: 27px;
                &:hover {
                    color: rgba(6, 120, 188, 0.75);
                    background: $color-white;
                }
            }
        }
        .realtalk {
            //height: 12%;
            .rt-title {
                font-size: 24px;
                padding: 3%;
            }
            .rt-icon {
                i {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 2px solid $color-white;
                    text-align: center;
                    font-size: $fs-6 + 4;
                    line-height: 47px;
                    &:hover {
                        color: rgba(6, 120, 188, 0.75);
                        background: $color-white;
                    }
                }
            }
        }
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
    .services__card {
        padding: 0;
        .services__item {
            padding: 0;
            img {
                width: 100%;
            }
        }
    }
    .row {
        margin-left: 0;
        margin-right: 0;
        .detail {
            text-align: center;
            h3 {
                @include styleText($color-black-0, $fs-6 + 5, $fw-0);
            }
            p {
                @include styleText($color-black-0, $fs-3, $fw-1);
            }
        }
    }
    .services__text {
        align-items: center;
        justify-content: center;
    }
}
